<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles/index.css" />
		<title>Main</title>
	</head>
	<body>
		<button id="start-screen">start</button>
		<img id="screen" />

		<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
		<script>
			const socket = io('http://localhost:4101', { transports: ['websocket'] });

			socket.on('screen-data', data => {
				document.getElementById('screen').setAttribute('src', `data:image/png;base64,${data}`);
			});

			document.getElementById('start-screen').addEventListener('click', () => {
				socket.emit('start_screen');
			});
		</script>
	</body>
</html>
